/* .group:has([role='button']) .VPSidebarItem.level-0 .items {
  padding-left: 22px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
} */