/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}

.dark {
  --vp-c-bg: #242424;
  --vp-c-bg-alt: #1a1a1a;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #242424;
}

html.dark {
  --el-color-scheme: dark;
}

.vp-doc table {
  margin: 0;
}

/* Remove the alternating row background colors (striping) */
.el-table__row:nth-child(odd),
.el-table__row:nth-child(even) {
  background-color: transparent !important;
  /* Reset background color */
}

.el-table thead th {
  color: #333 !important;
  font-weight: bold;
}

.el-table th {
  background-color: #f5f5f5 !important;
  border: 1px solid #ddd !important;
}

.dark .el-table th {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #363637 !important;
}