/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
  --vp-sidebar-width: 325px;
}

.vp-doc table {
  margin: 0;
}

.VPSidebarItem.level-0 .item h2 {
  padding-bottom: 10px;
}

.VPSidebarItem.level-0:has(h2) .items:has(.VPSidebarItem.level-1) {
  margin-left: 10px;
}

/* Remove the alternating row background colors (striping) */
.el-table__row:nth-child(odd),
.el-table__row:nth-child(even) {
  background-color: transparent !important;
  /* Reset background color */
}

.el-table thead th {
  color: #333 !important;
  font-weight: bold;
}

.el-table th {
  background-color: #f5f5f5 !important;
  border: 1px solid #ddd !important;
}

.dark .el-table th {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #363637 !important;
}